@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  color: #333333;
  background-color: #222222;
}

.page {
  background-color: #fdfdfd;
  text-align: justify;
}

img {
  max-width: 100%;
}

.call-to-action {
  font-size: 120%;
  font-weight: 600;
  padding: 4rem;
}

.chat-gpt {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid;
  font-style: oblique;
  opacity: 0.5;
}

button.circle {
  padding: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  background-color: #ffd700;
}

nav a {
  border-radius: 0.5lh;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  background-color: #ffd700;
  transition: scale 100ms 50ms;
}

nav a.active {
  background-color: #8a2be2;
  color: #fdfdfd;
}

nav a:hover,
nav a:active {
  scale: 105%;
}
