@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Noto+Color+Emoji&display=swap");

* {
  box-sizing: border-box;
  transition: all 150ms;
}

body {
  font-family: "Noto Color Emoji", "Comic Neue", cursive;
  font-size: 24px;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

.container {
  --emoji-top: "☁️";
  --emoji-bottom: "🐛";
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 2rem max(5vw, 3rem);
  border-radius: 3rem;
  position: relative;
}

.container::before,
.container::after {
  position: absolute;
  font-size: 10rem;
  line-height: 0;
  text-shadow: 0 2rem 3rem rgba(0, 0, 0, 25%);
  display: none;
}

.container::before {
  content: var(--emoji-top);
  top: 2rem;
  left: 90%;
  translate: -50%;
}

.container::after {
  content: var(--emoji-bottom);
  bottom: 2rem;
  left: 10%;
  translate: -50%;
  /* Flip the little guy to look right */
  scale: -1 1;
}

.emoji-list {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.box {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #fff3e1;
  border: 0.25rem solid #fff3e1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box + .box::before {
  content: "▶️";
  position: absolute;
  left: -0.5rem;
  translate: -50%;
  z-index: 1;
}

.box.interactive:hover,
.box.interactive.being-swapped {
  border-color: #ff9800;
}

.emoji {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: default;
}

.emoji[draggable="true"] {
  background-color: white;
  cursor: grab;
}

.emoji[draggable="true"]:active {
  cursor: grabbing;
}

.being-swapped .emoji {
  font-size: 2.5rem;
}

.sentence-list {
  list-style: none;
  padding: 0;
}

.sentence {
  margin-bottom: 2rem;
}

.sentence:not(.correct)::after {
  content: " 🤔";
}

.sentence.correct::after {
  content: " ✅";
}

.blank {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff3e1;
  font-weight: bold;
  text-transform: uppercase;
}

.game-over {
  .container {
    --emoji-top: "☀️";
    --emoji-bottom: "🦋";
  }

  .box {
    border-color: #ff9800;
  }

  .emoji {
    background-color: transparent;
  }
}

@media (width >= 800px) {
  body {
    padding: 6rem;
    background: linear-gradient(#8177fa, #00c0e9 80%, #8bc02b 80%, transparent)
      no-repeat #5b9821;
  }

  .container {
    box-shadow: 0 0 6rem rgba(0, 0, 0, 50%);
  }

  .container::before,
  .container::after {
    display: block;
  }
}
