* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 1rem;
  max-width: 400px;
}
