* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 2;
  min-height: 100vh;
  margin: 0;
  background-color: #111;
  background-image: radial-gradient(transparent, #111),
    linear-gradient(to bottom right, hsl(175deg 100% 50%), hsl(225deg 100% 50%));
  background-attachment: fixed;
  color: #343a40;
  text-align: center;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

ul {
  margin: 0;
  padding: 1rem;
  background: white;
  border-radius: 0.25rem;
  border-right: 2px solid hsl(200deg 100% 50%);
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0 0 0 / 25%);
  list-style: none;
  display: flex;
}

/* Links */
li:not(:last-child) {
  margin-right: 0;
  width: 0;
  overflow: hidden;
  transition-property: width, margin-right;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  position: relative;
}

li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background-image: linear-gradient(to right, transparent, white);
  background-repeat: no-repeat;
  background-position: right;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  margin: 0 1rem;
  cursor: pointer;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
  outline: 0;
}

/* Button */

li:last-child {
  width: calc(1rlh + 1rem);
}

button {
  width: 100%;
  height: 100%;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  color: hsl(200deg 100% 50%);
}

.line {
  width: 50%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  translate: 50% 0;
  transition-property: top, translate, rotate;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.line1 {
  top: 40%;
}

.line2 {
  top: 60%;
}

.expanded {
  li:not(:last-child) {
    width: 6rem;
    margin-right: 0.5rem;
  }

  .line {
    top: 50%;
  }

  .line1 {
    rotate: calc(-180deg - 45deg);
  }

  .line2 {
    rotate: calc(180deg + 45deg);
  }
}
