@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark: #343a40;
  --darker: #212529;
  --gray: #868e96;
  --disabled: #adb5bd;
  --light: #f8f9fa;
  --green: #40c057;
  --yellow: #fab005;
  --red: #fa5252;
  --blue: #228be6;
  --purple: #7950f2;
  --border-radius: 0.5rem;

  font-size: 14px;
  line-height: 1.5;
}

body {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  margin: 0;
  background-color: #212529;
  color: #f8f9fa;
}

a,
a:link {
  color: var(--blue);
  text-decoration: underline;
}

a:visited {
  color: var(--purple);
}

a:focus,
a:hover {
  text-decoration: none;
}

a:active {
  color: var(--red);
}

.container {
  --tile-width: 20rem;
  --tile-gap: 1rem;

  margin: auto;
  max-width: calc(5 * var(--tile-width) + 7 * var(--tile-gap));
}

/* Header */

.header {
  background-color: #343a40;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.header .search {
  font-size: 1.2em;
  color: inherit;
  background-color: #212529;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 0;
}

.header .search::placeholder {
  color: var(--disabled);
}

.header .search:focus {
  outline: 1px solid var(--blue);
}

/* Movies */

.loading {
  font-size: 1.5em;
  color: var(--disabled);
}

.movies {
  padding: calc(1.5 * var(--tile-gap));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--tile-gap);
}

.movie {
  color: inherit;
  text-decoration: inherit;
  border-radius: var(--border-radius);
  flex-basis: var(--tile-width);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movie:focus-within {
  outline: 2px solid var(--blue);
  cursor: auto;
}

.movie img {
  display: block;
  width: 100%;
  aspect-ratio: 2/3;
}

.movie footer {
  background-color: var(--dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.movie .title {
  font-size: 1.5em;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.movie .rating {
  font-size: 1.2em;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.movie .rating.green {
  background-color: var(--green);
}

.movie .rating.yellow {
  background-color: var(--yellow);
}

.movie .rating.red {
  background-color: var(--red);
}

/* Overview */

.overview {
  background-color: var(--light);
  color: var(--darker);
  padding: 2rem;
  box-shadow: 0 0 3rem black;
  position: absolute;
  bottom: 0;
  max-height: 100%;
  overflow: auto;
  translate: 0 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-out;
}

.movie:focus-within .overview {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
}

.overview h3 {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray);
  margin: 0 0 0.5rem;
}

.overview p {
  margin: 0.5em 0;
}

.overview p.see-more {
  font-weight: 600;
  margin-bottom: 0;
}
