* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.75;
  margin: 0;
  color: #333;
}

.container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.img-container {
  flex: 3;
  background-color: aliceblue;
}

.text-container {
  flex: 1;
  background-color: aquamarine;
}

.navigation {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}

.button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
  position: absolute;
  right: 3rem;
}

.button.prev {
  translate: -50% -50%;
  border-radius: 20% 20% 0 0;
  transform-origin: bottom right;
}

.button.next {
  translate: 50% 50%;
  border-radius: 0 0 20% 20%;
  transform-origin: top left;
}

@media (orientation: landscape) {
  .container {
    flex-direction: row-reverse;
  }

  .button {
    right: unset;
    rotate: 90deg;
  }
}
