@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: #f08c00;
  color: white;
  text-shadow: 0 0 1em #fab005;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

article {
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 5em #e67700;
  padding: 2rem 4rem;
}

article .bi {
  display: block;
  font-size: 5em;
}

article .counter {
  display: block;
  font-size: 4em;
}

@media (width >= 800px) {
  .container {
    flex-direction: row;
  }
}
